.pos-rel {
  position: relative;
}

// Displays
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-md-row {
  @include respondTo(md) {
    flex-direction: row;
  }
}

.flex-sm-row {
  @include respondTo(sm) {
    flex-direction: row;
  }
}

.flex-xs-row {
  @include respondTo(xs) {
    flex-direction: row;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-md-column {
  @include respondTo(md) {
    flex-direction: column;
  }
}

.flex-sm-column {
  @include respondTo(sm) {
    flex-direction: column;
  }
}

.flex-xs-column {
  @include respondTo(xs) {
    flex-direction: column;
  }
}

// Text formatting
.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.f-bold {
  font-weight: $bold;
}

// Dimensions
.w50p {
  width: 50%;
}

.w100p {
  width: 100%;
}
